# Ignore everything by default
*

# Allow directories
!*/

# Explicitly track essential repository files:
!.gitignore
!README.md

# Jupyter Notebooks:
!GAS_Bone_Size.ipynb
!GAS_DBSCAN.ipynb
!GAS_Hex_Density.ipynb
!GAS_Topo.ipynb

# Publication Figures & Analytical Outputs:
!Gashamna_DBSCAN_Clustering.png
!Gashamna_Figure4_Hexbins_A4.png
!Gashamna_Hexbin_Overview.png
!Whale_Slope_Analysis_Fixed.pdf
!Whale_Slope_Analysis_Fixed.png

# System, cache, and checkpoints
.git/
.ipynb_checkpoints/
__pycache__/
*.tmp
*.bak
*.pyc
