# Ignore everything by default
*

# Allow directories
!*/

# Explicitly track ONLY these 6 files:
!README.md
!GAS_Anatomic.ipynb
!GAS_Bone_Size.ipynb
!GAS_DBSCAN.ipynb
!GAS_Hex_Density.ipynb
!GAS_Topo.ipynb

# Ignore git subfolders if any
.git/
